mixin FilterBarDropdown(obj)
  if (!obj.identifier)
    - obj.identifier = { value: 'value', text: 'text' };
  .field
    label=obj.label
    .ui.inline.scrolling.dropdown.filterbarempty
      input(type='hidden', name= obj.name, value=obj.value)
      .text= obj.defaultText
      i.dropdown.icon
      .menu
        .item(data-value='') Tất cả
        if (obj.type == 'province')
          include ../mixins/province
          +ProvinceItems
        else if (obj.items && obj.items.length > 0)
          each item in obj.items
            .item(data-value=item[obj.identifier.value])= item[obj.identifier.text]

mixin Branch(items)
  +FilterBarDropdown({
      label: 'Chi nhánh',
      name: 'branch',
      value: reqQueryParams.branch,
      items: branchesForFilterBar,
      defaultText: 'Tất cả',
      identifier: {
          value: '_id',
          text: 'name'
      }
  })
mixin CreatedBy(items)
  +FilterBarDropdown({
      label: 'Được thêm bởi',
      name: 'createdBy',
      value: reqQueryParams.createdBy,
      items: usersForFilterBar,
      defaultText: 'Tất cả',
      identifier: {
          value: '_id',
          text: 'fullname'
      }
  })
mixin Province
  +FilterBarDropdown({
      label: 'Tỉnh/Thành',
      name: 'province',
      value: reqQueryParams.province,
      type: 'province',
      defaultText: 'Tất cả',
      identifier: {
          value: '_id',
          text: 'fullname'
      }
  })
mixin CustomerType
  +FilterBarDropdown({
      label: 'Loại khách hàng',
      name: 'type',
      value: reqQueryParams.type,
      defaultText: 'Tất cả',
      items: [
          {value: 'company', text: 'Company'},
          {value: 'personal', text: 'Personal'}
      ]
  })
mixin ProductCategories
  +FilterBarDropdown({
      label: 'Danh mục',
      name: 'category',
      value: reqQueryParams.category,
      defaultText: 'Tất cả',
      items: categoriesForFilterBar,
      identifier: {
          value: '_id',
          text: 'name'
      }
  })

mixin FilterBar(obj, query)
  #filterbar.filterbar
    form.ui.form
      .inline.fields
        if obj.textSearch
          .field.fieldinput
            label Tìm kiếm:
            .ui.small.input
              input(type='text', name='keyword', placeholder='Từ khóa', value=query.keyword)
        if obj.dateSearch
          .field.fielddatepicker
            label
              span Ngày tạo
              span :
            .ui.icon.input
              input(name='time', value=query.time)
              i.calendar.icon
        if obj.dropdowns
          each dropdown in obj.dropdowns
            case dropdown
              when 'branch'
                +Branch
              when 'createdBy'
                +CreatedBy
              when 'province'
                +Province
              when 'customer_type'
                +CustomerType
              when 'product_category'
                +ProductCategories
        if obj.findById
          .field.fieldinput
            label Mã số hóa đơn
            .ui.small.input
              input(type='text', name='billId', placeholder='Mã số hóa đơn', style='width: 90px', value=query.billId)
        if obj.findByOrderCode
          .field.fieldinput
            label Mã đơn hàng
            .ui.small.input
              input(type='text', name='orderCode', placeholder='Mã đơn hàng', style='width: 90px', value=query.orderCode)

        button.ui.mini.basic.button(type='submit') Tìm kiếm