mixin _csrf
  if (_csrf)
    input(type='hidden', name='_csrf', value=_csrf)

mixin label(label, inputId)
  if label
    label(for=inputId)= label

mixin Input(obj)
  div(class=`field ${obj.className}`)
    +label(obj.label, obj.name)
    input(
      type= obj.type || 'text',
      id= obj.name,
      name= obj.name,
      placeholder= obj.placeholder || '',
      style= obj.style,
      value= obj.value,
      readonly= obj.readonly || false,
      autocomplete= obj.autocomplete || ''
    )

mixin Textarea(obj)
  div(class=`field ${obj.className}`)
    +label(obj.label, obj.name)
    textarea(
      id= obj.name,
      name= obj.name,
      placeholder= obj.placeholder || '',
      rows= obj.row || 6,
      style= obj.style
    )= value= obj.value

mixin Select(obj)
  if (!obj.identifier)
    - obj.identifier = {value: 'value',text: 'text'};
  div(class=`field ${obj.className}`)
    +label(obj.label, obj.name)
    .ui.fluid.search.selection.dropdown
      input(type='hidden', name= obj.name, value=obj.value)
      i.dropdown.icon
      input.search(autocomplete='off', tabindex='0')
      .default.text= obj.defaultText
      .menu
        if (obj.items && obj.items.length > 0)
          each item in obj.items
            .item(data-value=item[obj.identifier.value])= item[obj.identifier.text]

mixin InputDate(obj)
  div(class=`field ${obj.className}`)
    +label(obj.label, obj.name)
    .ui.calendar.date
      .ui.input.right.icon
        i.calendar.icon
        input(type='text', name=obj.name, value=obj.value, placeholder='d/m/y')

mixin FormBottom(obj)
  .pull-left.mb10(style='width: 100%;')
    .pull-left
      p * : Bắt buộc
    if (module.editing)
      .pull-right
        form(method='post', action=`/${module.slug}/${obj.id}/delete`)
          +_csrf
          button.ui.mini.button.red Xóa