extends ../../dashboard/view/layout

block variables
  - var bodyClass = 'has-navigation'
  - currentHeadingText = role._id ? 'Cập nhật' : 'Thêm mới'

block navigation
  - headText = role._id ? 'Cập nhật' : 'Thêm mới'
  +Breadcrumb({
      parent: {url: '/roles', title: 'Phân quyền'},
      current: {title: headText}
  })
  +FormButton({text: headText, className: role._id ? 'primary' : ''})

block content

  +messages

  form.ui.form.single-field-validation#main-form(
    method='post',
    data-label='Role'
  )
    +_csrf
    .ui.error.message.pt0
    .fields
      .field.wide.five.hideonsmall
        h3 Thông tin chung
      .field.wide.eleven
        .fields
          // Tên - fullname
          +Input({
              name:'name',
              label: 'Tên',
              className: 'wide ten required',
              value: role.name
          })
        .fields
          // Ghi chú - description
          +Textarea({
              name: 'description',
              label: 'Ghi chú',
              className: 'wide ten',
              row: 4,
              value: role.description
          })
    .ui.divider
    .fields
      .field.wide.five.hideonsmall
        h3 Permissions
      .field.wide.eleven
        .ui.grid
          each permissions, index in PERMISSIONS
            .four.wide.column
              h3(style='text-transform: uppercase')= index
              each permission, name in permissions
                - var checkChecked = (role.permissions) ? (role.permissions.indexOf(permission.slug) > -1) : false
                .inline.field
                  .ui.checkbox
                    input(name="permissions", value=permission.slug, checked=checkChecked, type="checkbox" tabindex="0" class="hidden")
                    label= permission.name


  +FormBottom({id: role._id})