extends layout

block variables
  -
    var bodyClass = 'dashboard'
    var module = loadFeature('dashboard');

block content
  .ui.grid
    .ten.wide.column.main-content
      h2.fw400 Dashboard
      .ui.cards.four
        each shortcut in shortcuts
          a.teal.card.home-card(href=shortcut.link)
            .center.aligned
              i(class=shortcut.icon)
            .center.aligned=shortcut.name

    .six.wide.column
      h5.ui.dividing.header.fw400 Thông tin hệ thống
      div.hide
        .ui.grey.tiny.statistic
          .value
            | 2000
          .label
            | hóa đơn

      div.hide(style='border:1px solid #e0e0e0;padding:10px;border-radius:3px;')
        div
          strong
            span Phiên bản 2.2 (07/10/2016)
            span
            span
        div(style='font-size:0.9em;')
          p
            | - Di chuyển filter bên trái sang filter bar bên trên
            br
            | - Cải tiến giao diện chấm công / duyệt công / xếp lịch và đổi ca giữa các nhân viên
            br
            | - Menu cài đặt được di chuyển riêng vào từng phần
            br
            | - Thay đổi cơ chế, giao diện bật tắt module
            br
            | - Hỗ trợ kết nối SMS Gateway: esms, VHT, Vietguys
            br
            | - Tích hợp email marketing (liên hệ)
            br
            | - Thay đổi giao diện dashboard


      h5.ui.dividing.header.fw400 Nhật kí người dùng
      div(style='border:1px solid #e0e0e0;padding:10px;border-radius:3px;')
        ul.ui.celled.list.logs
          each log in logs
            li
              a(href=`/logs/${log._id}`)
                span= log.createdName
                span= ' đã '
                span= log.name

        div(style='text-align:right;')
          a(href='/logs')
            small
              span [
              span Xem Thêm
              span ]