extends ../../dashboard/view/layout

block variables
  -
    var module = loadFeature('_module');
    module.type = 'module_list';
    module.filterbar = true;

block navigation
  +Breadcrumb({ current: { title: module.label } })
  +Pagination(paginated)
  +Buttons({
        createButton: {
          url: `/${module.slug}/create`
        }
      })

include ../../dashboard/view/mixins/filterbar
block filterbar
  +FilterBar({
      textSearch: true,
      dateSearch: true,
      dropdowns: [ 'createdBy' ]
  }, reqQueryParams)


block content
  +messages
  table.tctable.ui.small.unstackable.very.basic.selectable.table.scrollbar
    thead
      tr
        th(style='width: 40px') STT
        th Tên
        th Được thêm bởi
        th Ngày tạo
    tbody
      - var count = 0;
      if _datas.length > 0
        each _data in _datas
          - count++
          tr
            td= count
            td.head
              a(href=`/${module.slug}/${_data._id}/edit`)= _data.name
            td
              if _data.createdBy
                a(href=`/${module.slug}?createdBy=${_data.createdBy.id}`)= _data.createdBy.fullname
            td= moment_format(_data.createdOn, 'DD/MM/Y')
      else
        p Không tìm thấy bản ghi nào!